@import "tailwindcss";
@plugin "daisyui" 
{
   themes: black --default, dark , light;
 }
@plugin "daisyui/theme" {
  name: "black";
  default: true;
  --color-primary: oklch(66.7% 0.295 322.15);
  --color-secondary: oklch(27.8% 0.033 256.848) ;
  --color-accent: oklch(92.8% 0.006 264.531) ;
}

.swiper-scrollbar {
  background: #222;
  height: 16px;
  border-radius: 10px;
}

.swiper-scrollbar-drag {
  background: #ff00ff;
  border-radius: 10px;
}